{% extends 'article/base.html' %}

{% block section %}
            
<div class="row">        
        {% for article in articles %}
        <div class="card" style="width: 18rem;">  
            {% if article.image %}
            <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.name }}">
            {% else %}
            <h2>No image found here!!</h2>  
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ article.name }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            {% empty %}
            <h2>La base de donnée est vide </h2>    
        {% endfor %}     
</div>
{% endblock %}

